:root{
    --color-one:#103178;
    --color-two:#FEC700;
    --color-text:#5B6C8E;
}
.body{

}
.container{
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
a{
    text-decoration: none;
}